.homeWavePic {
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 600px) {
  .largePic {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .smallPic {
    display: none;
  }
}