/* Import google font lobster to be used for the title */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.homeTitle {
  text-align: center;
  background-color: #80808042;
  color: lightblue;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  margin-top: 10px;
  z-index: 1;
  position: fixed;
  width: 100%;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
