@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');

.uploadContainer {
  height: 100vh;
  width: 100vw;
}

.uploadBtn {
  text-align: center;
  margin-top: 35vh !important;
}

.uploadIcon {
  color: lightblue;
}

.uploadPrompt {
  text-align: center;
  margin-top: 0px;
  color: lightblue;
  font-family: 'Exo', sans-serif;
  font-size: 18px;
}