/* General custom styles for navbar */
.navBarHolder {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: lightgrey solid 1px;
  padding-top: 10px;
  background-color: white;
}

/* Style for active page link */
.activeLinkIcon {
  color: darkblue !important;
  padding: 6px 60px 8px !important;
}

.activeLinkIcon::before {
  box-sizing: inherit !important;
}

.activeLinkIcon::after {
  box-sizing: inherit !important;
}

/* Style for inactive page link */
.inactiveLinkIcon {
  color: lightblue !important;
  padding: 6px 60px 8px !important;
}

.inactiveLinkIcon::before {
  box-sizing: inherit !important;
}

.inactiveLinkIcon::after {
  box-sizing: inherit !important;
}

/* .MuiBottomNavigationAction-label {
  opacity: 1 !important;
} */